<div class="container">
  <div class="row some-margin">
    <h2>View Tasks</h2>
    <button routerLink="/create" class="btn btn-info ml-auto mr-3">
      Add New Task
    </button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-secondary" (click)="showAll()">
      All
    </button>
    <button type="button" class="btn btn-danger" (click)="showPlanned()">
      Planned
    </button>
    <button type="button" class="btn btn-warning" (click)="showInProgress()">
      In Progress
    </button>
    <button type="button" class="btn btn-success" (click)="showCompleted()">
      Completed
    </button>
  </div>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Estimate</th>
        <th scope="col">State</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td scope="row">{{ task.name }}</td>
        <td>{{ task.estimate }}</td>
        <td>{{ task.state }}</td>
        <td>
          <div class="btn-group">
            <button routerLink="/detail/{{ task.id }}" class="btn btn-info">
              Edit
            </button>
            <button (click)="delete(task)" class="btn btn-danger">X</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
