<nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
  <h1 class="navbar-brand">{{ title }}</h1>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
      <a class="nav-item nav-link " routerLink="/dashboard">Dashboard</a>
      <a class="nav-item nav-link" routerLink="/tasks">Tasks List</a>
      <a class="nav-item nav-link" routerLink="/create">Create New Task</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
