<div>
  <h2>Add a New Task</h2>
  <div></div>
  <div>
    <div>
      <label
        >Name:
        <input #taskName required placeholder="name" />
      </label>
    </div>
    <div>
      <label
        >Description:
        <input #taskDescription placeholder="description" />
      </label>
    </div>
    <div>
      <label
        >Estimate:
        <input #taskEstimate placeholder="estimated hours" />
      </label>
    </div>
    <div>
      <span>State: </span>
      <input #rad1 type="radio" value="Planned" name="taskState" />Planned
      <input #rad2 type="radio" value="In Progress" name="taskState" />In
      Progress
      <input #rad3 type="radio" value="Completed" name="taskState" />Completed
    </div>
  </div>
  <button (click)="goBack()">Cancel</button>
  <button
    (click)="
      add(
        taskName.value,
        taskDescription.value,
        taskEstimate.value,
        rad1.checked
          ? rad1.value
          : rad2.checked
          ? rad2.value
          : rad3.checked
          ? rad3.value
          : null
      )
    "
  >
    Add
  </button>
</div>
