<div *ngIf="task" class="container">
  <div class="col-md-12 col-sm-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title some-margin">
          Task: {{ task.name | uppercase }}
        </h3>
      </div>

      <form ngNativeValidate class="panel-body">
        <div class="form-horizontal row-border">
          <div class="form-group">
            <label class="col-md-2 control-label">Name </label>
            <div class="col-md-10">
              <input
                #taskName
                class="form-control"
                type="text"
                name="name"
                [(ngModel)]="task.name"
                required
              />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Description </label>
            <div class="col-md-10">
              <textarea
                #taskDescription
                class="form-control"
                type="text"
                name="description"
                [(ngModel)]="task.description"
              ></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Estimated hours </label>
            <div class="col-md-10">
              <input
                #taskEstimate
                class="form-control"
                type="number"
                name="estimate"
                [(ngModel)]="task.estimate"
              />
            </div>
          </div>
          <span class="col-md-2 control-label">State: </span>
          <div class="form-check">
            <label *ngFor="let val of ['Planned', 'In Progress', 'Completed']">
              <input
                type="radio"
                required
                name="state"
                checked
                [value]="val"
                [(ngModel)]="task.state"
                class="some-margin"
              />{{ val }}
            </label>
          </div>
          <div class="col-md-10">
            <div class="float-right">
              <button (click)="goBack()" class="btn btn-secondary">
                Cancel
              </button>
              <button
                type="submit"
                (click)="save()"
                class="btn btn-primary some-margin"
              >
                Save Changes
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
